@import "variables";

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

@import "bootstrap.scss";
@import "bootswatch";
@import "L.Control.Locate.scss";

@import "leaflet/leaflet";
@import "overrides/mapbox/mapbox";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap');

html, body {
    height: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.body-color {
    color: $body-color;
}

.text-primary, .text-secondary, .navbar {
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
}

footer {
    background:$primary-light;
    color: $light;
    a {
        color: $light;
    }
}

.text-secondary-light {
    color: $secondary-light;
}

.badge-empty {
    background-color: $secondary-light;
}

.badge-partial {
    background-color: $third-color;
}

.badge-full {
    background-color: $primary-light;
}

.postcard {
    img {
        width: 75%;
    }
}

.download {
    img {
        width: 15%;
    }
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: $light;
    background-color: $gray-600;
}

.leaflet-top.leaflet-right {
    a {
        padding-top: 6px;
        width: 52px;
        height: 52px;
        line-height: 52px;
    }
}

.find-postcode {
    right: 70px;
}

.leaflet-control-postcode {
    padding: 7px;
    background: #fff;
    border-radius: 4px;
}

#map {
    min-height: 750px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
